<!-- Nvbar starts -->
<div class="p-1  bg-warning text-dark border border-dark">
    <div class="container ">
        <div class="col-sm-12">
            <nav class="navbar navbar-expand-lg  ">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'page:home_view'%}">Medium</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Our Story</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Membership</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'blog:create_blog_post_view'%}">Write</a>
                            </li>
                            {% if not request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link " href="{% url 'user_profile:register_view'%}">Sign In</a>
                            </li>
                            <li class="nav-item  ">
                                <a class="nav-link btn btn-dark text-light rounded-pill px-3  " href="{% url 'user_profile:login_view'%}">
                                    Login</a>
                            </li>
                            {% else %}
                            
                            <li class="nav-item  ">
                                <a class="nav-link btn btn-dark text-light rounded-pill px-3  " href="{% url 'user_profile:logout_view'%}">Logout</a>
                            </li>
                            {% endif %}
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Navbar ends -->